@media screen and (max-width: 768px) {
    .smallDevice{
        height: 30px;
        margin: 0px;
    }

    .scpSmallDevice{
        font-size: 12px ;
    }
    #popup{
        height: 80vh;
        display: none;
    }
    /* #car-a3{
        display: block;
    }
    #car-banner{
        display: none;
    } */
}

/* #car-a3{
    display: none;
} */